
<div class="random-btns-wrapper">
    {{#if templateBtn}}
        <button class="view-random-template">View a random template</button>
        <script src="/javascript/template/random.js"></script>
    {{/if}}
    {{#if fillinBtn}}
        <button class="view-random-fillin">View a random fill-in</button>
        <script src="/javascript/fillin/random.js"></script>
    {{/if}}
</div>
