
<div class="redaction-slider">
    <input type="range" min="0" max="{{redactionLvls}}" class="slider" value="0" style="width: {{redaction_slider_width redactionLvls}}px"> <!--'value' here is just the initial value-->
</div>

<script src="/javascript/redaction-slider-blur.js"></script>