
<div class="redaction-slider">
    <input type="range" min="0" max="{{redactionLvls}}" class="slider" value="0" style="width: {{redaction_slider_width redactionLvls}}px"> <!--'value' here is just the initial value-->
</div>

{{!-- '/javascript/template/redaction.js' must be added BELOW the form element inside of which this slider sits --}}
{{!-- (the script refers to elements that are inside the form but below the slider) --}}
