
<div class="redaction-slider">
    <input
        class="slider" type="range" min="0" max="{{redactionLvls}}"
        value="0"
        redaction-lvl = "{{redactionLvls}}"
        style="width: {{redaction_slider_width redactionLvls}}px"
    />

    <label><i>Redaction</i></label>
</div>

{{!-- '/javascript/template/redaction.js' must be added BELOW the form element inside of which this slider sits --}}
{{!-- (the script refers to elements that are inside the form but below the slider) --}}