
<div class="redaction-slider">
    <input
        class="slider" type="range" min="0" max="{{redactionLvls}}"
        value="{{invert_redaction_val redactionLvl redactionLvls}}"
        redaction-lvl = "{{redactionLvl}}"
        style="width: {{redaction_slider_width redactionLvls}}px"
    />

    <label><i>Redaction</i></label>
</div>

<script src="/javascript/redaction-slider.js"></script>