<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/stylesheets/style.css" />

        {{!-- <link rel="icon" type="image/x-icon" href="/images/madlibs-logo-white.png" /> --}}

        <title>Mad Libs{{#if pageSubtitle}} | {{pageSubtitle}}{{/if}}</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
    </head>


    <body>
        <header class="site-header w3-padding-16">
            <a id="logo" href="/">
                <img src="/images/madlibs-logo-black.png" alt="logo" />
                <div class="w3-mobile title">
                    <span class="mad">Mad</span><span class="libs">Libs</span>
                </div>
            </a>

            <nav id="nav" class="w3-right-align w3-padding">
                <a href="/" class="w3-button w3-mobile">Home</a>
                
                <div class="w3-dropdown-hover">
                    <a class="w3-button">Templates<span class="dropdown-arrow">&nbsp;&nbsp;&#9660;</span></a>

                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        {{#if loggedIn}}
                            <a href="/template/maker" class="w3-bar-item w3-button">Template maker</a>
                        {{/if}}
                        <a href="/template/all" class="w3-bar-item w3-button">User-created templates</a>
                    </div>
                </div>

                <div class="w3-dropdown-hover">
                    <a class="w3-button">Fill-ins<span class="dropdown-arrow">&nbsp;&nbsp;&#9660;</span></a>

                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        {{#if loggedIn}}
                            <a href="/template/all" class="w3-bar-item w3-button">Fill in a template</a>
                        {{/if}}
                        <a href="/fillin/all" class="w3-bar-item w3-button">User-created fill-ins</a>
                    </div>
                </div>
                
                {{#if loggedIn}}
                    <a href="/dashboard" class="w3-button w3-mobile">Dashboard</a>
                    <button class="logout-nav w3-button w3-mobile">Logout</button>
                    <script src="/javascript/user/logout.js"></script>
                {{else}}
                    <button class="nav-login w3-button w3-mobile">Login / sign up</button>
                {{/if}}
            </nav>
            <script src="/javascript/mobile-menu-click.js"></script>
        </header>

        {{#unless loggedIn}}
            <div id="login-modal" class="w3-modal">
                <div class="w3-modal-content w3-card-4 w3-animate-zoom w3-sand" style="max-width: 600px">
                    <div class="w3-center">
                        <br />
                        <span class="close-modal w3-button w3-xlarge w3-hover-red w3-display-topright">&times;</span>
                        <img src="/images/madlibs-logo-black.png" alt="logo" style="width: 30%" class="w3-circle w3-margin-top" />
                    </div>

                    <div class="login-forms-wrapper">
                        <form class="login-form">
                            <h4>Login</h4>

                            <input name="login-email" class="w3-input w3-border w3-margin-bottom" type="email" placeholder="Enter email" required />
                            
                            <input name="login-password" class="w3-input w3-border" type="password" placeholder="Enter Password" required />
                            
                            <button class="w3-button w3-block w3-section w3-padding" type="submit">Login</button>

                            <p class="login-error-msg error-msg"></p>
                        </form>

                        <form class="signup-form">
                            <h4>Sign up</h4>

                            <input name="signup-username" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter username" required />

                            <input name="signup-email" class="w3-input w3-border w3-margin-bottom" type="email" placeholder="Enter email" required />
                            
                            <input name="signup-password" class="w3-input w3-border" type="password" placeholder="Enter Password" required />
                            
                            <button class="w3-button w3-block w3-section w3-padding" type="submit">Sign up</button>

                            <p class="signup-error-msg error-msg"></p>
                        </form>
                    </div>

                    <script src="/javascript/user/login.js"></script>
                </div>
            </div>
        {{/unless}}

        <main>
            {{{body}}}
            {{!-- <article class="w3-container w3-margin-left w3-margin-top">
                <h2>Article-1</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur culpa
                    laudantium perferendis ipsum dolorem dolore mollitia laboriosam saepe
                    cum modi aperiam in, numquam esse nesciunt nulla possimus illo ducimus
                    neque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel hic
                    incidunt modi, ad quidem tenetur alias deserunt quibusdam tempore iste
                    labore culpa libero ipsa in. Quod perspiciatis nisi totam eveniet.
                </p>
                <hr />
            </article> --}}
        </main>

        <footer class="w3-padding-16 w3-center">
            <i>Designed and coded by Claudia Yile, Min Maung and Noah Becker&nbsp;&nbsp;</i>&nbsp;&nbsp;&copy; <span class="this-yr"></span>
        </footer>

        <script src="/javascript/footer.js"></script>
    </body>
</html>
