
<h3>Welcome, <span class="username">{{user.username}}</span></h3>

<div class="update-user-info-wrapper">
    <button id="update-password-dashboard-btn" type="button" class="dashboard-btn">Update password</button>
    <button id="update-username-dashboard-btn" type="button" class="dashboard-btn">Update username</button>
    <button id="update-email-dashboard-btn" type="button" class="dashboard-btn">Update email</button>
    <button id="delete-account-dashboard-btn" type="button" class="dashboard-btn">Delete account</button>
    <script src="/javascript/user/dashboard-btns.js"></script>
</div>

{{#with user}}
    {{>template-several-info title='Your templates' templates=templates sorting=false showUsernames=false showDeleteBtns=true}}

    {{>fillin-several-info title='Your fill-ins' fillins=fillins sorting=false showUsernames=false showTemplateTitles=true}}
{{/with}}