
<form id="delete-account-form" class="update-user-info-form">
    <label for="password">Enter your password to confirm account deletion:</label>
    <input type="password" id="password" placeholder="Enter password" />

    <button type="submit" class="btn-red">Delete my account</button>
    
    <p class="error-msg"></p>
</form>

<script src="/javascript/user/delete.js"></script>