
<form id="update-email-form" class="update-user-info-form">
    <label for="new-email">New email address:</label>
    <input type="email" id="new-email" placeholder="Enter email" />

    <label for="password">Re-enter password:</label>
    <input type="password" id="password" placeholder="Enter password" />

    <button type="submit" class="btn-green">Update email</button>

    <p class="error-msg"></p>
</form>

<script src="/javascript/user/email.js"></script>