/* VARIABLES */
:root{
    --color-red: rgb(175, 8, 8);
    --color-red-lighter: rgba(217, 135, 139);
    --body-background: linear-gradient(#ddf6f9, rgb(247, 242, 218));
}

  
/* HEADER */
header{
    display: flex;
    justify-content: space-between;
}


#logo{
    font-size: 35px;
    font-family: monospace;
    padding-left: 30px;
    text-decoration: none;
    flex-grow: 0;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}
#logo img{
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 20px;
}
#logo .title{
    display: inline-block;
}
#logo .title span{
    transition: ease-in-out .3s;
}
#logo .title .libs{
    color: red;
}

#logo:hover .mad{
    color: red;
}
#logo:hover .libs{
    color: black;
}


#nav {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-grow: 0;
}
#nav a{
    transition: .2s;
}
#nav a:hover{
    background-color: inherit !important;
    color: red !important;
    text-shadow: 2px 2px 8px white;
}


/* LOGIN MODAL */
.login-form div button[type="submit"]{
    transition: .8s;
}

.login-form div button[type="submit"]:hover{
    background-color: rgb(0, 166, 255) !important;
}



/* BODY */
body{
    background-image: radial-gradient(ellipse at 37% 30%, rgb(163, 221, 218), rgb(255, 169, 169));
}




  


/* REDACTION SLIDER */
.slider{
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    border-radius: 15px;
    outline: none;
    background-color: lightgrey;
    margin-top: 10px;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: var(--color-red-lighter);
    cursor: pointer;
    -webkit-transition: 200ms;
    transition: background-color 200ms;
}
.slider::-webkit-slider-thumb:hover, .slider:focus::-webkit-slider-thumb{
    background-color: var(--color-red);
}

.slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    background-color: var(--color-red-lighter);
    cursor: pointer;
    -webkit-transition: 200ms;
    transition: background-color 200ms;
}
.slider::-moz-range-thumb:hover, .slider:focus::-moz-range-thumb{
    background-color: var(--color-red);
}
