
{{#if fillins.length}}
    {{>random-buttons fillinBtn=true}}
    {{>fillin-several-info title='User fill-ins' fillins=fillins sorting=true initSort=sortFillinsBy showUsernames=true showTemplateTitles=true showDeleteBtns=adminAccess}}
{{else}}
    <h3 class="w3-center">There are no user-created fillins yet—check back soon!</h3>
{{/if}}