
{{#if templates.length}}
    {{>random-buttons templateBtn=true}}
    {{>template-several-info title='View or fill in a template' templates=templates sorting=true initSort=sortBy showUsernames=true showDeleteBtns=adminAccess}}
{{else}}
    <h3 class="w3-center">There are no user-created templates yet—check back soon!</h3>
{{/if}}