
<form class="template-maker">
    <div>
        <div class="instructions">
            Enter a new&nbsp;&nbsp;<span>Mad Lib</span>&nbsp;&nbsp;here!
            <br />
            Fill-in fields go inside&nbsp;&nbsp;<span>[square brackets]</span>.
            <br />
            E.g.&nbsp;&nbsp;<span>The [adjective] brown fox [verb]s over the lazy [animal name].</span>
        </div>
        <textarea></textarea>
    </div>

    <button type="submit" class="template-maker-submit-btn">Submit</button>
</form>